<h1>BOOKS</h1>
<hr>

{{#each books}}
  <div>
    <h3>{{this.title}}</h3>
    <a href="/books/{{this._id}}">See details</a>
    <a href="/books/{{_id}}/edit">Edit</a>
    <a href="/books/{{_id}}/delete">Delete</a>
  </div>
  <hr>
{{/each}}

<a href="/books/new"> <button>CREATE ANOTHER!</button></a>
<br>
<br>
<a href="/">Back</a>

